:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

/* Alignment */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-data-section {
  display: flex;
  flex-direction: column;
}

.game-data {
  display: flex;
  margin: 0.5rem;
}

.game-data-headers {
  align-self: flex-start;
}

.counter {
  align-self: flex-end;
}

.fa {
  font-size: 2rem;
  margin: 0.5rem;
}

.main-section {
  margin: 1rem;
}

h1 {
  margin: 1rem;
}

.score {
  font-size: 3rem;
  margin: 0.5rem;
}

.inning-btn {
  margin: 0.5rem;
}

.name-updater {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save-game-input,
.load-game-input {
  margin: 1rem;
}
